* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.color {
  color: #fff;
}

ul {
  list-style-type: none;
}

#header {
  background-color: #3c3a39;

  /* height:1rem; */
}

.header-nav {
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 1.5rem;
}

#logo {
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-size: 1.12rem;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0;
  text-align: center;
  cursor: pointer;
}

.nav-bar {
  border: 1px solid #fff;
  width: 17px;
  display: block;
  border-radius: 1px;
}

.nav-bar:nth-child(2) {
  margin-top: 3px;
}

.nav-bar:nth-child(3) {
  margin-top: 3px;
}

.menu-bar {
  cursor: pointer;
}

.menu-names {
  display: none;
}

@media (max-width: 767px) {
  .headline {
    background: #1c1a19;
    background-image: url("images/back.png");
    background-repeat: no-repeat;
    background-position: right 13rem;
  }

  .headline-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 7.5rem 1.5rem 8.1rem 1.5rem;
    gap: 13px;
  }

  #description-text {
    font-family: "Roboto", sans-serif;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: 0;
    text-align: left;
    width: 20.483rem;
    color: #fff5e1;
  }

  #welcome-text {
    font-family: "Poppins", sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0;
    text-align: left;
    color: #fff;
    width: 20.483rem;
  }

  .my-socials {
    display: flex;
    width: 12.5rem;
    gap: 13px;
    padding-left: 0.5rem;
    padding-bottom: 1rem;
  }

  #work-section {
    display: grid;
    grid-template-columns: 1fr;
    gap: 0.75rem;
    margin: 7.5rem auto;
    width: 20.438rem;
  }

  .big-image {
    display: none;
  }

  #cursor {
    display: none;
  }

  #card-section {
    margin-top: 1.5rem;
    grid-template-columns: 20.438rem;
    gap: 3rem;
  }

  .card-main-title1 {
    display: none;
  }

  .background-image {
    background-image: url("images/Frame.png");
    background-repeat: no-repeat;
    background-position: right 24.5rem;
  }

  .About-me {
    background-image: url("images/Frame.png");
    background-repeat: no-repeat;
    background-position: bottom right;
    height: 35.5rem;
  }

  .About-content {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding: 7.5rem 1.5rem 1.5rem;
  }

  .work-projects {
    padding-top: 3rem;
    grid-template-columns: 300px;
    justify-content: center;
    gap: 1.75rem;
    padding-bottom: 5.471rem;
  }

  .figures {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .figures1 {
    display: flex;
    align-items: center;
    margin-left: 2rem;
  }

  .figures2 {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .contact-flex {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.375rem;
    padding-top: 10%;
  }

  .contact-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
  }

  input {
    width: 327px;
    height: 48px;
  }

  textarea {
    width: 20.438rem;
    height: 7.125rem;
  }

  .socialmedia-footer {
    justify-content: center;
    gap: 21px;
  }

  .line hr {
    width: 327px;
    margin: auto;
  }
}

#intro-text {
  font-family: "Crete Round", sans-serif;
  font-size: 3.5rem;
  font-weight: 400;
  line-height: 64px;
  letter-spacing: 0.3700000047683716px;
  text-align: left;
  width: 20.438rem;
  color: #ff6b00;
}

#intro-text2 {
  font-family: "Crete Round", sans-serif;
  font-size: 3.5rem;
  font-weight: 400;
  line-height: 64px;
  letter-spacing: 0.3700000047683716px;
  color: #ff6b00;
}

a {
  cursor: pointer;
}

a:hover {
  text-decoration: none;
}

#recent-work-title {
  text-align: center;
  font-family: "Crete Round", sans-serif;
  font-size: 40px;
  font-weight: 400;
  line-height: 52px;
  letter-spacing: 0;
}

hr {
  margin-top: 1.5rem;
}

#img-project {
  margin-top: 5rem;
}

#project-description-title {
  margin-top: 1.5rem;
  font-family: "Crete Round", sans-serif;
  font-size: 32px;
  font-weight: 400;
  line-height: 44px;
  letter-spacing: 0;
  text-align: left;
}

#project-description {
  margin-top: 0.75rem;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0;
  text-align: left;
}

.button-section {
  margin-top: 0.75rem;
}

.buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 0.75rem;
}

.btn-work {
  font-family: "Inter", sans-serif;
  font-size: 15px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0;
  text-align: left;
  padding: 0.625rem 0.75rem;
  border: 1px solid #8993a4;
  background-color: #fff;
}

.view-button {
  background: #ff6b00;
  border: none;
  width: 7.75rem;
  height: 3rem;
  font-family: "Inter", sans-serif;
  font-size: 17px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.03em;
  text-align: center;
  color: #fff;
}

.view-button:hover {
  background-color: #fff5e1;
  border: 1px solid #f55800;
  color: #f55800;
  cursor: pointer;
}

#card-section {
  display: grid;
}

.post {
  height: 24.125rem;
  background-image: url("images/back2.png");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
}

.card-contents {
  padding-top: 5rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 0.75rem;
  margin: 0 1rem 0 1rem;
}

.card-main-title {
  font-family: "Crete Round", sans-serif;
  font-size: 32px;
  font-weight: 400;
  line-height: 44px;
  letter-spacing: 0;
  text-align: left;
  color: #fff;
}

.card-description {
  font-family: "Inter", serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0;
  text-align: left;
  color: #fff;
}

.card-buttons {
  gap: 0.75rem;
}

.btn-card {
  font-family: "Inter", sans-serif;
  font-size: 15px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0;
  text-align: left;
  padding: 0.625rem 0.75rem;
  border: 1px solid #8993a4;
  color: #fff;
  background: #ffffff3d;
  border-style: none;
}

.card-big-btn {
  margin-top: 1rem;
  height: 3rem;
  padding: 0.75rem;
  border: none;
  background: #ff6b00;
  font-family: "Inter", sans-serif;
  font-size: 17px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.03em;
  text-align: center;
  color: #fff;
}

.card-big-btn:hover {
  background-color: #fff5e1;
  border: 1px solid #f55800;
  color: #f55800;
  cursor: pointer;
}

#work-experience {
  background: #1c1a19;
}

.about-title {
  font-family: "Crete Round", sans-serif;
  font-size: 72px;
  font-weight: 400;
  line-height: 88px;
  letter-spacing: 0.3700000047683716px;
  text-align: left;
  color: #ff6b00;
}

.about-description {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0;
  text-align: left;
  color: #fff;
}

.get-my-resume {
  font-family: "Inter", sans-serif;
  font-size: 17px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.03em;
  text-align: center;
  border: none;
  background-color: #ff6b00;
  color: #fff;
  width: 9.75rem;
  height: 3rem;
}

.get-my-resume:hover {
  background-color: #fff5e1;
  border: 1px solid #f55800;
  color: #f55800;
  cursor: pointer;
}

.work-projects {
  display: grid;
}

.diamond {
  width: 18px;
  height: 18px;
  background-color: #ff6b00;
  transform: rotate(45deg);
  display: inline-block;
  margin-right: 0.5rem;
}

.square {
  background-color: #ff6b00;
  width: 18px;
  height: 18px;
  display: inline-block;
  margin-right: 0.5rem;
}

.round {
  background-color: #ff6b00;
  width: 18px;
  height: 18px;
  border-radius: 100%;
  display: inline-block;
  margin-right: 0.5rem;
}

.work-project-title {
  font-family: "Inter", sans-serif;
  font-size: 32px;
  font-weight: 700;
  line-height: 44px;
  letter-spacing: 0;
  color: #fff;
}

.work-project-titles {
  text-align: center;
  margin-left: 0.7rem;
}

.exp {
  padding-top: 1.5rem;
  font-family: "Inter", sans-serif;
  font-size: 22px;
  font-weight: 400;
  line-height: 43px;
  letter-spacing: 0;
  text-align: center;
  color: #fff;
}

.contact-flex {
  display: flex;
}

.contact-title {
  font-family: "Inter", serif;
  font-style: normal;
  font-weight: 700px;
  font-size: 32px;
  line-height: 44px;
  color: #172b4d;
  text-align: center;
  width: 327px;
  height: 262px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 1.375rem;
}

input {
  padding: 1rem;
  border-style: none;
  border-bottom: 1px solid #dbd8d7;
  font-family: "Inter", sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0;
  text-align: left;
}

textarea {
  height: 7.125rem;
  background: #fbf8f7;
  padding: 12px;
  border-style: none;
  font-family: "Inter", sans-serif;
  font-size: 15px;
  font-style: italic;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0;
  text-align: left;
}

.form-button {
  display: flex;
  justify-content: center;
}

.socialmedia-footer {
  padding: 1.563rem;
  display: flex;
  justify-content: center;
  gap: 21px;
}

@media only screen and (min-width: 768px) {
  .menu-bar {
    display: none;
  }

  .headline {
    background: #1c1a19;
    background-image: url("images/Illustration-header.png");
    background-repeat: no-repeat;
    background-size: 40%;
    background-position: right;
  }

  .menu-list {
    display: flex;
    align-items: center;
    gap: 2.063rem;
    padding-right: 9.438rem;
  }

  a {
    font-family: "Inter", sans-serif;
    font-size: 15px;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 0;
    text-align: center;
    text-decoration: none;
  }

  a:hover {
    color: #f55800;
  }

  .headline-content {
    display: flex;
    align-items: center;
    height: 48rem;
    padding-left: 1rem;
    gap: 40px;
  }

  .flex-headline {
    display: flex;
    flex-direction: column;
    max-width: 40%;
  }

  #description-text {
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 44px;
    color: #fff;
  }

  #welcome-text {
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    color: #f4f5f7;
  }

  .my-socials {
    order: -1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 4rem;
    gap: 13px;
  }

  #work-section {
    display: grid;
    justify-content: center;
    gap: 24px;
    max-width: 60%;
    margin: 0 auto;
  }

  .big-image {
    background-image: url("images/image2.png");
    background-repeat: no-repeat;
    height: 448px;
  }

  .title-recent-word {
    display: grid;
    grid-template-columns: 0.45fr 1fr;
    margin-top: 100px;
  }

  .view-button {
    transition: width 2s;
  }

  .view-button:hover {
    width: 300px;
  }

  #recent-work-title {
    text-align: left;
    align-self: center;
  }

  .title-recent-word hr {
    align-self: center;
  }

  .multipost {
    display: grid;
    grid-template-columns: 1fr 0.55fr;
    margin-top: 50px;
  }

  #project-description-title {
    margin-top: -3px;
  }

  #project-description {
    color: #091e42;
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
  }

  #img-project {
    display: none;
  }

  #card-section {
    grid-template-columns: 369px 369px 369px;
    column-gap: 20px;
    row-gap: 37px;
    padding-bottom: 130px;
  }

  .post:nth-child(1) {
    background-image: url("images/Mask\ Group.png");
  }

  .post:nth-child(2) {
    background-image: url("images/card2.png");
  }

  .post:nth-child(3) {
    background-image: url("images/card3.png");
  }

  .post:nth-child(5) {
    background-image: url("images/card2.png");
  }

  .post:nth-child(6) {
    background-image: url("images/card3.png");
  }

  .post1 .card-contents {
    display: none;
  }

  .card-big-btn {
    display: none;
    z-index: 1;
  }

  .post1 .card-big-btn {
    margin-top: 335px;
  }

  .post2 .card-big-btn {
    margin-top: 335px;
  }

  .post3 .card-big-btn {
    margin-top: 335px;
  }

  .post4 .card-big-btn {
    margin-top: 335px;
  }

  .post5 .card-big-btn {
    margin-top: 335px;
  }

  .post6 .card-big-btn {
    margin-top: 335px;
  }

  #cursor {
    position: absolute;
    height: 16px;
    width: 14px;
    margin-top: 200px;
    margin-left: 80px;
  }

  .card-main-title1 {
    font-family: "Crete Round", sans-serif;
    font-size: 32px;
    font-weight: 400;
    line-height: 44px;
    letter-spacing: 0;
    text-align: left;
    color: #fff;
    width: 20.563rem;
  }

  h3.card-main-title {
    display: none;
  }

  .post2 .card-contents {
    margin-top: 20px;
  }

  .post4 .card-contents {
    margin-top: 20px;
  }

  .post5 .card-contents {
    margin-top: 20px;
  }

  .post3 .card-contents {
    margin-top: 62px;
  }

  .post6 .card-contents {
    margin-top: 62px;
  }

  .post:hover {
    border: 2px solid #4444f5;
    background-image: url('images/back2.png');
  }

  .post:hover .card-big-btn {
    display: block;
    cursor: pointer;
  }

  .post:hover .card-contents {
    display: none;
  }

  .About-me {
    padding: 4% 0 4% 0;
    background-image: url("images/illustration-about\ me@2x.png");
    background-size: 28rem;
    background-repeat: no-repeat;
    background-position: right;
  }

  .About-content {
    max-width: 60%;
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding-left: 6%;
  }

  .about-description {
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
  }

  @keyframes buttonChangeColor {
    from {
      background: #ff6b00;
    }

    to {
      background: #fff;
    }
  }

  .get-my-resume {
    animation-name: buttonChangeColor;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    color: #172b4d;
    border: 1px solid greenyellow;
  }

  .line hr {
    max-width: 85%;
    margin: 0 auto;
  }

  .work-projects {
    padding: 5% 0 8% 0;
    grid-template-columns: 289px 282px 282px;
    justify-content: center;
    width: 85%;
    gap: 12%;
    margin: 0 auto;
  }

  .exp {
    text-align: left;
  }

  .work-project-titles {
    text-align: left;
  }

  #contact-form {
    width: 85%;
    margin: 0 auto;
  }

  .contact-flex {
    padding: 5% 0 5% 0;
    justify-content: center;
  }

  .contact-title {
    width: 50%;
    height: 256px;
    text-align: left;
    color: #262626;
    font-size: 40px;
    line-height: 52px;
  }

  form {
    width: 50%;
    height: 330px;
  }

  .form-button {
    justify-content: flex-start;
  }
}

@media (min-width: 768px) and (max-width: 1230px) {
  .work-projects {
    padding: 5% 0 8% 0;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    max-width: 60%;
    gap: 12%;
    margin: 0 auto;
  }

  #card-section {
    max-width: 60%;
    grid-template-columns: 369px 369px;
    column-gap: 20px;
    row-gap: 37px;
    padding-bottom: 130px;
  }

  .title-recent-word {
    display: grid;
    grid-template-columns: 1fr;
    margin-top: 100px;
  }

  #recent-work-title {
    text-align: center;
  }

  .title-recent-word hr {
    align-self: center;
  }

  .multipost {
    display: flex;
    gap: 18px;
    margin-top: 50px;
  }

  .recent-work {
    max-width: 85%;
    display: grid;
    justify-content: center;
  }

  .big-image {
    display: none;
  }

  #img-project {
    display: block;
    align-self: flex-start;
  }

  #project-description {
    font-size: 16px;
  }

  .exp {
    font-size: 14px;
  }

  .work-project-title {
    font-size: 24px;
  }

  .figures1 {
    display: flex;
    align-items: center;
  }

  .About-content {
    max-width: 42%;
  }

  .about-description {
    font-size: 18px;
  }
}
