* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.color{
  color:#fff;
}
ul {
  list-style-type: none;
}
.container {
  background: #1c1a19;
  background-image: url('images/back.png');
  background-repeat: no-repeat;
  background-position: right 16rem;
}

#header {
  background-color: #3c3a39;
}

.header-nav {
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 1.5rem;
}

#logo {
  color: #fff;
  font-family: 'Roboto', sans-serif;
  font-size: 1.12rem;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0;
  text-align: center;
  cursor: pointer;
}

.nav-bar {
  border: 1px solid #fff;
  width: 17px;
  display: block;
  border-radius: 1px;
}

.nav-bar:nth-child(2) {
  margin-top: 3px;
}

.nav-bar:nth-child(3) {
  margin-top: 3px;
}

.menu-bar {
  cursor: pointer;
}
.menu-names {
   display:none;
}
@media (max-width:600px){
.headline-content {
  display: flex;
  flex-direction: column;
  padding: 7.5rem 1.5rem 8.1rem 1.5rem;
  gap: 12px;
 }
 #work-section{
  grid-template-columns:1fr;
  gap: 0.75rem;
  margin: 7.5rem auto;
  width: 20.438rem;
 }
 .big-image{
  display:none;
 }
 #cursor{
  display: none;
}
#card-section{
  margin-top: 1.5rem;
  grid-template-columns: 20.438rem;
  gap: 3rem;
}
.card-main-title1{
  display:none;
}
#work-section {
  display: grid;
} 
.background-image {
  background-image: url('images/Frame.png');
  background-repeat: no-repeat;
  background-position: right 24.5rem;
}
.About-me {
  /* padding: 7.5rem 1.5rem 8.1rem 1.5rem; */
  /* flex-direction: column; */
  /* gap: 1.5rem; */

}
.About-content{
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: 7.5rem 1.5rem 1.5rem; 
}
#about-image {
  display:none;
}
#about-image1 {
 
}
.images{
  display: flex;
  justify-content: flex-end;
}
.work-projects {
  grid-template-columns: 300px;
  justify-content: center;
  gap: 1.75rem;
  padding-bottom: 5.471rem;
}
.figures {
  display: flex;
  justify-content: center;
  align-items: center;
}

.figures1 {
  display: flex;
  align-items: center;
  margin-left: 2rem;
}

.figures2 {
  display: flex;
  justify-content: center;
  align-items: center;
}
.contact-flex{
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.375rem;
}
.contact-title {
  padding-top: 4.313rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  gap: 24px;
}
}

#intro-text {
  font-family: 'Crete Round', sans-serif;
  font-size: 3.5rem;
  font-weight: 400;
  line-height: 64px;
  letter-spacing: 0.3700000047683716px;
  text-align: left;
  width: 20.438rem;
  color: #ff6b00;
}
#intro-text2{
  font-family: 'Crete Round', sans-serif;
  font-size: 3.5rem;
  font-weight: 400;
  line-height: 64px;
  letter-spacing: 0.3700000047683716px;
  color: #ff6b00;
}
#description-text {
  font-family: 'Roboto', sans-serif;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: 0;
  text-align: left;
  width: 20.483rem;
  color: #fff5e1;
}

#welcome-text {
  font-family: 'Poppins', sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0;
  text-align: left;
  color: #fff;
  width: 20.483rem;
}

.my-socials {
  display: flex;
  width:12.5rem;
  gap: 13px;
  padding-left: 0.5rem;
  padding-bottom: 1rem;

}

a {
  cursor: pointer;
}

a:hover {
  text-decoration: none;
}



#recent-work-title {
  text-align: center;
  font-family: 'Crete Round', sans-serif;
  font-size: 40px;
  font-weight: 400;
  line-height: 52px;
  letter-spacing: 0;
}

hr {
  margin-top: 1.5rem;
}

#img-project {
  margin-top: 5rem;
}

#project-description-title {
  margin-top: 1.5rem;
  font-family: 'Crete Round', sans-serif;
  font-size: 32px;
  font-weight: 400;
  line-height: 44px;
  letter-spacing: 0;
  text-align: left;
}

#project-description {
  margin-top: 0.75rem;
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0;
  text-align: left;
}

.button-section {
  margin-top: 0.75rem;
}

.buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 0.75rem;

}

.btn-work {
  font-family: 'Inter', sans-serif;
  font-size: 15px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0;
  text-align: left;
  padding: 0.625rem 0.75rem;
  border: 1px solid #8993a4;
  background-color: #fff;
}

.view-button {
  background: #ff6b00;
  border: none;
  width: 7.75rem;
  height: 3rem;
  font-family: 'Inter', sans-serif;
  font-size: 17px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.03em;
  text-align: center;
  color: #fff;
}

.view-button:hover {
  background-color: #fff5e1;
  border: 1px solid #f55800;
  color: #f55800;
  cursor: pointer;
}

#card-section {
 
  display: grid;
 
}

.post {
  height: 24.125rem;
  background-image: url('images/back2.png');
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
}


.card-contents {
  padding-top: 5rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 0.75rem;
  margin: 0 1rem 0 1rem;
}

.card-main-title {
  font-family: 'Crete Round', sans-serif;
  font-size: 32px;
  font-weight: 400;
  line-height: 44px;
  letter-spacing: 0;
  text-align: left;
  color: #fff;
  width: 20.563rem;
}

.card-description {
  font-family: 'Inter', serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0;
  text-align: left;
  color: #fff;
}

.card-buttons {
  /* display: flex; */
  gap: 0.75rem;
}

.btn-card {
  font-family: 'Inter', sans-serif;
  font-size: 15px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0;
  text-align: left;
  padding: 0.625rem 0.75rem;
  border: 1px solid #8993a4;
  color: #fff;
  background: #ffffff3d;
  border-style: none;
}

.card-big-btn {
  margin-top: 1rem;
  height: 3rem;
  padding: 0.75rem;
  border: none;
  background: #ff6b00;
  font-family: 'Inter', sans-serif;
  font-size: 17px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.03em;
  text-align: center;
  color: #fff;
}

.card-big-btn:hover {
  background-color: #fff5e1;
  border: 1px solid #f55800;
  color: #f55800;
  cursor: pointer;
}

#work-experience {
  background: #1c1a19;
}

.about-title {
  font-family: 'Crete Round', sans-serif;
  font-size: 72px;
  font-weight: 400;
  line-height: 88px;
  letter-spacing: 0.3700000047683716px;
  text-align: left;
  color: #ff6b00;
}

.about-description {
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0;
  text-align: left;
  color: #fff;
}

.get-my-resume {
  font-family: 'Inter', sans-serif;
  font-size: 17px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.03em;
  text-align: center;
  border: none;
  background-color: #ff6b00;
  color: #fff;
  width: 9.75rem;
  height: 3rem;
}

.get-my-resume:hover {
  background-color: #fff5e1;
  border: 1px solid #f55800;
  color: #f55800;
  cursor: pointer;
}

.line hr {
  
  /* border-color:  #fff; */
  width:327px;
 
  margin: auto;
  
}

.work-projects {
  display: grid;

}

.diamond {
  width: 18px;
  height: 18px;
  background-color: #ff6b00;
  transform: rotate(45deg);
  display: inline-block;
  margin-right: 0.5rem;
}

.square {
  background-color: #ff6b00;
  width: 18px;
  height: 18px;
  display: inline-block;
  margin-right: 0.5rem;
}

.round {
  background-color: #ff6b00;
  width: 18px;
  height: 18px;
  border-radius: 100%;
  display: inline-block;
  margin-right: 0.5rem;
}

.work-project-title {
  font-family: 'Inter', sans-serif;
  font-size: 32px;
  font-weight: 700;
  line-height: 44px;
  letter-spacing: 0;
  color: #fff;
}

.work-project-titles {
  text-align: center;
  margin-left: 0.7rem;
}



.exp {
  padding-top: 1.5rem;
  font-family: 'Inter', sans-serif;
  font-size: 22px;
  font-weight: 400;
  line-height: 43px;
  letter-spacing: 0;
  text-align: center;
  color: #fff;
}
ul {
  list-style-type: none;
}

.contact-flex {
  display: flex;
  
}

.contact-title {
  font-family: 'Inter', serif;
  font-style: normal;
  font-weight: 700px;
  font-size: 32px;
  line-height: 44px;
  color: #172b4d;
  text-align: center; 
  width: 327px;
  height: 262px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 1.375rem;
}

input {
  width: 327px;
  height: 48px;
  padding: 1rem;
  border-style: none;
  border-bottom: 1px solid #dbd8d7;
  font-family: 'Inter', sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0;
  text-align: left;
}

textarea {
  width: 20.438rem;
  height: 7.125rem;
  background: #fbf8f7;
  padding: 12px;
  border-style: none;
  font-family: 'Inter', sans-serif;
  font-size: 15px;
  font-style: italic;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0;
  text-align: left;
}

.form-button {
  display: flex;
  justify-content: center;
}

.socialmedia-footer {
  padding: 1.563rem;
  display: flex;
  justify-content: center;
  gap: 1.375rem;
}
@media screen and(max-width:767px){
  
}
@media only screen and (min-width:768px){
  /* html{
    overflow-x: hidden;
  } */
   .menu-bar{
    display:none;
   }
   .container {
    background: #1c1a19;
    background-image: url('images/Illustration-header.png');
    background-repeat: no-repeat;
    background-size:42rem;
    background-position:right;
    height:50rem;
  }
   #header {
    background-color: #3c3a39;
  }
   .menu-list{
    display:flex;
    align-items: center;
    gap:2.063rem;
    padding-right:9.438rem
   }
   .menu-list li {
    font-family: 'Inter', sans-serif;
    font-size: 15px;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: center;
   }

   .headline-content{
     display:flex;
     align-items:center;
     height:48rem;
     padding-left:1rem;
     gap:5px;
  
   } 

   #intro-text {
     width:566px;
  } 
   #intro-text2{
    width:566px;
   }
  
  #description-text {
    font-family: 'Inter',sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0em;
    text-align: left;
    width:566px;
  }
  
  #welcome-text {
    width:566px;
  }
   .my-socials{
    order:-1;
    display: flex;
    flex-direction:column;
    justify-content:center;
    width:4rem;
    margin-top:2.5rem;
   }
#work-section {
  display:grid;
  justify-content: center;
  gap:24px;
}
 .recent-work {
  padding-right: 110px;
 }
.big-image {
  background-image: url('images/image2.png');
  background-repeat:no-repeat;
  height:448px;
  
}
.title-recent-word{
  display: grid;
  grid-template-columns: 0.45fr 1fr;
  margin-top: 100px;
}
#recent-work-title {
  text-align: left;
  align-self:center
}
hr{  
   align-self: center;
   
}
.multipost {
  display:grid;
  grid-template-columns: 1fr 0.55fr;
  margin-top: 50px;
  
}
#project-description-title{
  /* grid-area:beside; */
  margin-top: -3px;
}
#project-description {
  /* grid-area:aside; */
}

.button-section{
  /* grid-area:buttons; */
}

#img-project{
  display:none;
}
#card-section {
  grid-template-columns: repeat(3,369px);
  column-gap: 24px;
  row-gap:37px;
  /* padding:100px 120px 100px 120px; */
  padding-left:110px;
  padding-right: 110px;
  padding-bottom: 130px;
}
.post:nth-child(1){
  background-image: url('images/Mask\ Group.png');
}
.post:nth-child(2){
  background-image: url('images/card2.png');
}
.post:nth-child(3){
  background-image: url('images/card3.png');
}

.post:nth-child(5){
  background-image: url('images/card2.png');
}
.post:nth-child(6){
  background-image: url('images/card3.png');
}
.post1 .card-contents{
  display:none;
}
.post1 .card-big-btn{
 margin-top:340px;
}
#cursor {
  position:absolute;
  height: 16px;
  width: 14px;
  margin-top:200px;
  margin-left:80px;
}
.card-main-title1{
  font-family: 'Crete Round', sans-serif;
  font-size: 32px;
  font-weight: 400;
  line-height: 44px;
  letter-spacing: 0;
  text-align: left;
  color: #fff;
  width: 20.563rem;
}
h3.card-main-title{
  display:none;
}
.post2 .card-contents{
  margin-top:40px;
}
.post4 .card-contents{
  margin-top:40px;
}
.post5 .card-contents{
  margin-top:40px;
}
.post3 .card-contents{
  margin-top:80px;
}
.post6 .card-contents{
  margin-top:80px;
}
.post2 .card-big-btn{
  display:none;
}
.post3 .card-big-btn{
  display:none;
}
.post4 .card-big-btn{
  display:none;
}
.post5 .card-big-btn{
  display:none;
}
.post6 .card-big-btn{
  display:none;
}
.about-me {
 padding-top: 60px; 
 padding-bottom: 40px;
 display: flex;
 gap:65px;
  
  
}
.About-content {
  padding-left: 40px;
  display:flex;
  flex-direction: column;
  gap:24px;
}
 .about-description {
  /* height: 148px; */
  width: 566px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  
}
.about-title{
  /* height: 78px; */
  width: 566px; 
}
.images {
 display: flex;
 justify-content: ;
}
#about-image1{
 display:none;
}
.images{
  display: flex;
}
#about-image{
  height: 352.3808288574219px;
  width: 672.3919677734375px;
 }

 .line hr {
  width: 1156px;
  margin:auto;
 }
 .work-projects{
  grid-template-columns:289px 282px 282px;
  /* grid-template-rows: 300px 30px 30px; */
  /* justify-items: start; */
  justify-content: center;
  gap:164px;
 }
 .exp {
  text-align: left;
 }
 .work-project-titles {
  text-align:left;
 }
.contact-flex {

  justify-content: center;
  
}
 input {
  width:684px;
 }
 textarea{
  width:684px;
 }
 .contact-title {
  width:455px;
  height: 256px;
  text-align: left;
  color: #262626;
  font-size: 40px;
  line-height: 52px;

 }
 form {
  width: 684px; 
  height: 330px;
 }
 .form-button{
  justify-content: flex-start;
 }
}